html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 1rem;
  padding: 0;
}

nav {
  text-align: center; /* wyrównanie tekstu do środka w poziomie */
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* KARTA PRODUKTU */
.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;

  width: 100%;
  max-width: 880px;

  background-color: #ebebeb;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;

  /* Domyślnie niebieski */
  --leading-color: #0157b3;
  --leading-color-stressed: #043972;
}

.product-image {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 500px;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
}

.product-details {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-frame {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--leading-color);
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.polo-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.product-card:has(#color-blue:checked) .polo-image[data-color='blue'],
.product-card:has(#color-red:checked) .polo-image[data-color='red'],
.product-card:has(#color-green:checked) .polo-image[data-color='green'],
.product-card:has(#color-yellow:checked) .polo-image[data-color='yellow'] {
  opacity: 1;
}

.product-card:has(#color-red:checked) {
  --leading-color: #dc3545;
  --leading-color-stressed: #a71d2a;
}
.product-card:has(#color-green:checked) {
  --leading-color: #28a745;
  --leading-color-stressed: #1e7e34;
}
.product-card:has(#color-yellow:checked) {
  --leading-color: #ffc107;
  --leading-color-stressed: #d39e00;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}
.product-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.promo-badge {
  background-color: var(--leading-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.6rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.product-description {
  line-height: 1.6;
  margin: 0 0 1.5rem 0;
}

.product-options {
  border: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}
.product-options legend {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.product-options div {
  display: flex;
  gap: 0.75rem;
}
.product-options input[type='radio'] {
  display: none;
}

.color-swatch {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.color-swatch:hover {
  border-color: #ccc;
  transform: scale(1.2);
}

.color-swatch.blue {
  background-color: #0157b3; /* te kolory muszą być stałe */
  border: 2px solid #0157b3;
  box-shadow: 0 0 0 2px black;
}
.color-swatch.red {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  box-shadow: 0 0 0 2px black;
}
.color-swatch.green {
  background-color: #28a745;
  border: 2px solid #28a745;
  box-shadow: 0 0 0 2px black;
}
.color-swatch.yellow {
  background-color: #ffc107;
  border: 2px solid #ffc107;
  box-shadow: 0 0 0 2px black;
}

#color-picker input[type='radio']:checked + label {
  border-color: #fff;
  box-shadow: 0 0 0 2px black;
}

/* WERSJA DYNAMICZNA  */
#size-picker div {
  position: relative;
}

#size-picker div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: var(--leading-color);
  border-radius: 6px;
  z-index: 1;

  /* zamiast translateX – tylko pion, start z 0 */
  transform: translateY(0);

  /* animujemy left (ruch w poziomie) + kolor */
  /* transition: left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), test 4*/
  transition: left 0.3s cubic-bezier(0.5, -1.2, 0.5, 1.2),
    background-color 0.3s ease;
}

#size-picker div:has(#size-s:checked)::before {
  left: 0;
  animation: jump-s 0.5s ease-out;
}
#size-picker div:has(#size-m:checked)::before {
  left: calc(40px + 0.75rem);
  animation: jump-m 0.5s ease-out;
}
#size-picker div:has(#size-l:checked)::before {
  left: calc(2 * (40px + 0.75rem));
  animation: jump-l 0.5s ease-out;
}
#size-picker div:has(#size-xl:checked)::before {
  left: calc(3 * (40px + 0.75rem));
  animation: jump-xl 0.5s ease-out;
}

@keyframes jump-s {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-m {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-l {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-xl {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#size-picker label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  box-sizing: border-box;

  position: relative;
  z-index: 2;
}

#size-picker label:hover {
  border-color: var(--leading-color);
  transform: scale(1.1);
}

#size-picker input[type='radio']:checked + label {
  background-color: transparent;
  border-color: var(--leading-color);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* WERASJA STATYCZMA
#size-picker label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
#size-picker label:hover {
  border-color: var(--leading-color);
  transform: scale(1.2);
}
#size-picker input[type='radio']:checked + label {
  background-color: var(--leading-color);
  border-color: var(--leading-color);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.price-text {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto 0 1rem 0;
}

.buy-button {
  width: 60%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--leading-color);
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.buy-button:hover {
  background-color: var(--leading-color-stressed);
  transform: scale(1.1);
}
